* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  gap: 1rem;
  font-family: Roboto, Helvetica, Calibri;
}

#R {
  font-size: 10px;
  position: absolute;
  top: 0.5rem;
  left: 6.5rem;
}

#Img {
  max-width: 10rem;
  max-height: 4rem;
  width: auto;
  height: auto;
  position: absolute;
  top: 2rem;
  left: 1.5rem;
}
.sidebar {
  float: left;
  width: 400px;
  padding: 10px 10px;
  height: 100%;
  overflow-y: auto;
  background-color: black;
  overflow-x: hidden;
}

#R {
  font-size: 10px;
  position: absolute;
  top: 10px;
  left: 115px;
}

#Img {
  display: flex;
  justify-content: center;
  max-width: 110px;
  max-height: 80px;
  width: auto;
  height: auto;
  position: absolute;
  top: 30px;
  left: 10px;
}
.sidebar {
  float: left;
  width: 400px;
  padding: 10px 10px;
  height: 100%;
  overflow-y: auto;
  background-color: black;
  overflow-x: hidden;
}

.sidebar- {
  padding-bottom: 200px;
}

.sidebar__menu {
  font-style: impact;
  margin: 20px;
  color: rgb((190), 190, 190);
  position: absolute;
  top: 115px;
  left: 5px;
  font-size: 30px;
}

.sidebar__logo img {
  max-width: 250px;
  width: 100%;
}

.sidebar__menu a {
  color: rgb(190, 190, 190);
  text-decoration: none;
  display: block;
  padding: 10px;
  cursor: pointer;
}

.barra {
  background-color: #333;
  padding: 30px;
  text-align: center;
  font-size: 25px;
}
#element,
#barr {
  padding: 0;
  color: rgb(104, 103, 103);
  font-size: 20px;
  text-decoration: none;
  list-style: none;
  display: inline;
  margin: 20px;
  margin-left: 1.3rem;
  cursor: pointer;
}
#entrar {
  color: rgb(21, 21, 21);
  display: inline;
  background-color: #fff;
  padding: 20px;
  border-radius: 40%;
  cursor: pointer;
}
#element:hover {
  color: white;
  font-size: 23px;
}

p {
  font-size: 20px;
}
.sidebar__menu a.sidebar__menu__selecionado {
  color: white;
  background-color: rgb(80, 80, 80);
  border-radius: 5px;
}

.barra {
  background-color: #333;
  padding: 30px;
  text-align: center;
  font-size: 25px;
}
#element,
#barr {
  padding: 0;
  color: rgb(104, 103, 103);
  font-size: 20px;
  text-decoration: none;
  list-style: none;
  display: inline;
  margin: 20px;
  margin-left: 1.3rem;
  cursor: pointer;
}
#entrar {
  color: rgb(21, 21, 21);
  display: inline;
  background-color: #fff;
  padding: 20px;
  border-radius: 40%;
  cursor: pointer;
}
#element:hover {
  color: white;
  font-size: 23px;
}

#entrar:hover {
  padding: 22px;
}

.mainMusic {
  align-items: center;
  display: flex; 
  flex-wrap: wrap;
  padding: 1rem 4rem;
  margin: 1rem;
  gap: 1rem;
  border-radius: 12px;
}
.itenMusic {
  background-color: #424242;
  border-radius: 10px;
  width: 16rem;
  height: 19rem;
  flex: 1 1 1rem;
}

.itenMusic img {
  position: relative;
  width: 12rem;
  padding: 5px;
  margin: 1rem 2rem;
  margin-bottom: 5px;
}

.itenMusic p {
  color: #fff;
  margin-top: 0px;
  background-color: #333;
  border-radius: 10px;
  width: 14rem;
  margin: 1rem 1em;
}
