*{
   margin:0;
}
body {

   background: #333;
   font: normal 15px arial;
}

header {
   color: white;
   text-align: center;
   text-shadow: 5px 5px 10px rgba(199, 151, 151, 0.841);

}

img{
   width: 150px;
   height: 90px;
   margin: -10px;
   margin-left:-20px;
   margin-top: -120px;
}
#img{
   color: black;
   font-size: 220px;
   text-align: cn;
   background: red;
   height: 200px;
   margin-left: ;
}
.container{
   float: left;
   text-align: center;
   color: #fff;
   background-color: black;
   width: 20%;
   height: 100vh;
   position: relative;
   
}

#title{
   font-style: italic;
   padding: 80px;
   
}





i{
   background: #fff;
}


section {

   background: white;
   border-radius: 10px;
   padding: 15px;
   width: 500px;
   margin: auto;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.58);

}

div {

   text-align: center;
   padding: 10px;
}

footer {

   color: white;
   text-align: center;
   font-style: italic;
   text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.841);
   text-align: center;
   position: fixed;
   justify-content: center;
   bottom: 0;
}


footer{
   background-color: #222;     
   padding: 10px;
   width: 100%;
   bottom: 0;
   position: fixed;
   margin-left: -20px;
}
footer span{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 0;
  position: fixed;
  
}
