*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html, body{height: 100%;}

.sidebar{
   float: left;
   width: 250px;
   padding: 10px 10px;
   height: 100%;
   overflow-y: auto;
   background-color: black;
   overflow-x: hidden;
}

.sidebar-{
   padding-bottom: 200px;
}

.sidebar__menu{
   margin: 20px 0;
   color: rgb((190), 190, 190);
}

.sidebar__logo img{
   max-width: 250px;
   width: 100%;
}
.sidebar__menu a{
   color: rgb(190, 190, 190);
   text-decoration: none;
   display: block;
   padding: 10px 0;
}
p{
   font-size: 20px;
}
.sidebar__menu a.sidebar__menu__selecionado{
   color: white;
   background-color: rgb(80, 80, 80);
   border-radius: 5px;
}

.barra{
   background-color: #333;
   padding: 30px;
   text-align: center;
   font-size: 25px;
   
}
#element, #barr {
   padding: 0;
   color: rgb(104, 103, 103);
   font-size: 20px;
   text-decoration: none;
   list-style: none;
   display: inline;
   margin: 20px;
   margin-left: 1.3rem;
   cursor: pointer;
  
}
#entrar{
   color: rgb(21, 21, 21);
   display: inline;
   background-color: #fff;
   padding: 20px;
   border-radius: 40%;
   cursor: pointer;
}
#element:hover{ 
   color: white;
   font-size: 23px;
}

#entrar:hover{
   padding: 22px;
}