.barra {
    background-color: rgba(7, 7, 7, 0.68);
    text-align: center;
    font-size: 6rem;
    height: 7rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
}

.bar-el {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 30px;
}

#element {

    border: 0;
    color: rgb(118, 118, 118);
    padding: 10px;
    width: 9.8rem;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;

}

#barr {
    text-decoration: none;
    list-style: none;
    color: #e4e4e4;
    font-size: 3rem;
    padding: 1rem;
}

#entrar {
    color: rgb(0, 0, 0);
    background-color: #fff;
    font-size: 22px;
    border-radius: 20%;
    margin-right: 20px;
    padding: 10px;
    width: 7rem;
    height: 70px;
    font-weight: bold;
}

#element:hover {
    color: white;
    font-size: 23px;

}

#entrar:hover {
    background-color: #dadada;

    height: 75px;

}

/* Responsive */

@media (max-width: 72rem) {
    .bar-el{
     
        
        gap: 0;
 
    }
}
@media (max-width: 60.5rem) {
    .bar-el{
        width: 25rem;
        padding: 0px;
        gap: 0;
      
 
    }
}
@media (max-width: 55rem ) {
    .bar-el{
        width: 14rem;
        padding: 0px;
        gap: 0;
    
        
    }
    #element{
        font-size: 15.5px;
        margin: 0px;
   
        padding: 0;
    }
}

