#R {

    font-size: 10px;
    position: absolute;
    top: 0.5rem;
    left: 7.5rem;

}



#Img {



    max-width: 10rem;
    max-height: 4rem;
    width: auto;
    height: auto;
    position: absolute;
    top: 2rem;
    left: 1.5rem;
}

.sidebar {

    float: left;
    width: 400px;
    padding: 10px 10px;
    height: 100vh;
    overflow-y: auto;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    position: fixed;

}

.sidebar- {
    padding-bottom: 200px;
}

.sidebar__menu {

    font-style: impact;
    margin: 20px;
    color: rgb((190), 190, 190);
    position: absolute;
    top: 120px;
    left: 13px;
    font-size: 30px;

}


.sidebar__logo img {
    max-width: 250px;
    width: 100%;
}


#text {

    float: right;
    width: 6rem;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
    font-size: 1.4rem;  
    
  
    
}

#text2 {

    float: right;
    width: 11rem;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
    font-size: 1.4rem;  
    
   
    
}

i{

    
    width: 2rem;
    display: left;

}



.sidebar__menu a {

    color: rgb(118, 118, 118);
    text-decoration: none;
    display: flex;
    padding: 10px;
    cursor: pointer;
    width: 11rem;
    align-items: center;
    font-weight: bold;
    text-align: left;
    
    
}


.sidebar__anexo {

    font-style: impact;
    margin: 20px;
    color: rgb((190), 190, 190);
    position: absolute;
    top: 22rem;
    left: 20px;
    font-size: 30px;

}

.sidebar__anexo a{

   
    
   
    color: rgb(118, 118, 118);
    text-decoration: none;
    display: flex;
    padding: 3px;
    cursor: pointer;
    width: 14.6rem;
    align-items: center;
    font-weight: bold;
    text-align: left;
    
    
    
}



.sidebar__menu a:hover {

    color: #fff;

}

.sidebar__anexo a:hover {

    color: #fff;

}

p {
    font-size: 20px;
}

.sidebar__menu a.sidebar__menu__selecionado {
    color: white;
    background-color: rgb(80, 80, 80);
    border-radius: 5px;
}

.sidebar__anexo2 a{

    color: rgb(118, 118, 118);
    font-size: 1.2rem;
    margin-top: 23rem;
    width:5rem;
}

.sidebar__anexo2 a:hover {

    color: rgb(118, 118, 118);
    text-decoration: underline;
    

}